.AuthPage {
  height: 100%;
  display: block;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../../../public/images/pexels-hemanth-k-m-11638635.jpg");
  background-size:  100% auto; 
  background-color: white;
  border-radius: 2vmin;
  padding: 10px;
}

.AuthPage .signUpButton {
  text-align: center;
  color: #373619;
  cursor: pointer;
  width: 25%;
  margin: auto;
  font-weight: bold;
  grid-template-columns: 4fr;
  padding: 3vmin;
  background-color: white;
  border: .1vmin solid #373619;
  border-radius: 1vmin;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c49474;

}
