footer {
    background-color: #e2bf97;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    gap: 1em;
}

.creator{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0.2em;
}

.creator:hover{
    width: 3.5em;
    height: 3.5em;
}

@media (max-width: 500px) {
    .text-footer{
        font-size: 1em;
        margin-top: 5px;
    }
}